.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: darkkhaki;
}

.grass {
    background-color: yellowgreen;
}

.fire {
    background-color: chocolate;
}

.water {
    background-color: cornflowerblue;
}

.electric {
    background-color: gold;
}

.ice {
    background-color: lightcyan;
}

.ground {
    background-color: burlywood;
}

.flying {
    background-color: mediumslateblue;
}

.poison {
    background-color: purple;
}

.fighting {
    background-color: brown;
}

.psychic {
    background-color: hotpink;
}

.dark {
    background-color: sienna;
}

.rock {
    background-color: goldenrod;
}

.bug {
    background-color: olive;
}

.ghost {
    background-color: slateblue;
}

.steel {
    background-color: lightsteelblue;
}

.dragon {
    background-color: mediumblue;
}

.fairy {
    background-color: pink;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: white;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: white;
    background-color: mediumpurple;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
